apiVersion: v1
kind: Secret
metadata:
  name: api-service-secrets
  namespace: '{{ dev_namespace }}'
type: Opaque
stringData:
  # API 키들은 Ansible Vault에서 안전하게 관리됩니다
  SEOUL_API_KEY: "{{ vault_seoul_api_key }}"
  YOUTUBE_API_KEY: "{{ vault_youtube_api_key }}"
  REDDIT_CLIENT_ID: "{{ vault_reddit_client_id }}"
  REDDIT_CLIENT_SECRET: "{{ vault_reddit_client_secret }}"
  REDDIT_USERNAME: "{{ vault_reddit_username }}"
  REDDIT_PASSWORD: "{{ vault_reddit_password }}"
  REDDIT_USER_AGENT: "{{ vault_reddit_user_agent }}"
