apiVersion: v1
kind: Secret
metadata:
  name: airflow-db-connection
  namespace: '{{ dev_namespace }}'
type: Opaque
stringData:
  # The connection string for the Airflow metadata database
  # The password is provided by Ansible Vault
  connection: "postgresql+psycopg2://airflow:{{ vault_airflow_password }}@postgres.'{{ dev_namespace }}'.svc.cluster.local:5432/airflow"
