apiVersion: v1
kind: Secret
metadata:
  name: airflow-service-secrets
  namespace: '{{ dev_namespace }}'
type: Opaque
stringData:
  # These keys are pulled from Ansible Vault
  FERNET_KEY: "{{ vault_fernet_key }}"
  WEBSERVER_SECRET_KEY: "{{ vault_webserver_secret_key }}"
