# token_updater_deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: token-updater
  namespace: dev-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: token-updater
  template:
    metadata:
      labels:
        app: token-updater
    spec:
      serviceAccountName: airflow-service-sa
      containers:
        - name: token-updater
          image: 805400277714.dkr.ecr.us-east-2.amazonaws.com/airflow:1.0.0
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          imagePullPolicy: Always # 항상 최신 이미지를 사용하도록 설정
          command: 
            - "python"
            - "-u" # Unbuffered output, 로그를 즉시 확인하기 위함
            - "/opt/airflow/token_updater.py"
          volumeMounts:
            # dag_factory.py가 생성한 DAG 파일을 저장할 볼륨을 마운트합니다.
            - name: dags-volume
              mountPath: /opt/airflow/dags
      volumes:
        - name: dags-volume
          persistentVolumeClaim:
            claimName: dags-pvc
