apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  namespace: '{{ dev_namespace }}'
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    # HTTPS 설정 (ACM 인증서 사용)
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/certificate-arn: {{ acm_certificate_arn.value }}
spec:
  ingressClassName: alb
  rules:
    - host: api.meaire.store  # 호스트 기반 라우팅 추가 (보안 강화)
      http:
        paths:
          - path: /api/google/callback
            pathType: Exact
            backend:
              service:
                name: backend
                port:
                  number: 8080