apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: internal-ingress
  namespace: '{{ dev_namespace }}'
  annotations:
    ############################################################
    ###### internal alb로 설정 시 아래 주석 해제 (with Client VPN) ######
    ############################################################
    alb.ingress.kubernetes.io/scheme: internal
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
    alb.ingress.kubernetes.io/subnets: {{ private_subnet_ids.value | join(',') }} # Internal ALB를 배치할 Private Subnet ID
    #####################################################
    ###### internet-facing alb로 설정 시 아래 주석 해제 ######
    #####################################################
    # alb.ingress.kubernetes.io/scheme: internet-facing
    # alb.ingress.kubernetes.io/target-type: ip
    # alb.ingress.kubernetes.io/subnets: {{ public_subnet_ids.value | join(',') }} # External ALB를 배치할 Public Subnet ID
spec:
  ingressClassName: alb
  rules:
    - host: portainer.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: portainer
                port:
                  number: 80
    - host: airflow.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: airflow-service-webserver
                port:
                  number: 80
    - host: kafka.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kafka-ui-svc
                port:
                  number: 80
    - host: kibana.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kibana-svc
                port:
                  number: 80
    - host: adminer.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: adminer
                port:
                  number: 80
    - host: grafana.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-grafana
                port:
                  number: 80
    - host: prometheus.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-prometheus
                port:
                  number: 80
    - host: alertmanager.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-alertmanager
                port:
                  number: 80
    - host: zipkin.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: zipkin
                port:
                  number: 80
    - host: aiserver.{{ base_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: bridge
                port:
                  number: 80
