apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-ca-secret
  namespace: "{{ dev_namespace }}"
type: Opaque
data:
  elastic-stack-ca.p12: "{{ lookup('file', '/tmp/es-certs/elastic-stack-ca.p12', wantlist=False) | b64encode }}"
